*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainbox{
    width: 100v;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Appbox{
    width: 500px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top,rgb(155, 155, 240),rgb(225, 225, 237));
    row-gap: 50px;
}
.input{
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.btn{
    padding: 10px;
}
.container{
    background-color: white;
    padding: 10px;
}
